body{
  font-family: "Helvetica";
  text-align: center;
  padding:0;
  background: #ffffff;
  color: #000;
  margin: 0;
}

h1{
  margin: 0;
  font-size: 90px;
  line-height: 1em;
  padding: 10px 0 0;
}

h2{
  font-weight: 300;
  margin: 0;
}

.logo_big {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.logo_big img { width: 100%; }