.article
	.article-title
		h4= locals.date
		h1= locals.title
		h5= "tags: " + locals.tags
	.article-body

		p Do you want to contribute to the node.js community?

		p Did you think of an idea for some code that you thought other developers might find #[span.highlight useful,] and could #[span.highlight re-use?]

		br

		p Recently at my own office we transitioned from utilzing superagent to isomorphic-fetch because ....
		br
		p Which is all fine and well but there were a couple distinct differences between between isomorphic-fetch and superagent:

		.tab
			| 1. isomorphic-fetch forces you to add this ↓ flag, to be able to update the sites cookies
			.terminal-text credentials: 'include'
			br
			| 2. isomorphic-fetch also needs you to add this ↓ header flag, to be able to send a body object to a service request
			.terminal-text
				| method: 'post',
				br
				| headers: { 'Content-Type': 'application/json' }

		p So all those these small differences dont matter too much in the long run, but I personally found it tedious to replicate this threw out our codebase. 
			|	Especially when this information was not the simplest thing to find, given that it is not mentioned anywhere in the documentation
			|	#[a(src="https://github.com/matthew-andrews/isomorphic-fetch") here.]
			|	With superagent both of these things are set/done by default (i.e. send the body by default and allow the cookies to be updated by default).

		p And so without further to do, I decided I'd rather make a small wrapper around isomorphic fetch that would take both of these things in to consideration by default.

		p This is my first hack at creating an npm module, below you will find a step by step process of how you go about doing that.

		h3 Setup

		p 1. Get/Have access to a Github account
		p 2. Install Node.js (npm will be installed threw this process)

		h3 Github Repo


		h3 Setup package.json


		h3 Create a node module


		h3 Write some test


		h3 Run some test


		h3 Write a README

		h3 Commit and push to Github

		h3 Publish to npm

		h3 Import from npm into another project