.intro-wrapper
	.intro-container.intro
		.intro_logo
			a(href="/")
				image(src="public/logo.jpg")

	.intro-container.dark.about
		.intro-inner

			h2 About

			p Experienced Software Engineer and native New Yorker, with a passion for problem solving, creating clean code and beautiful products

			p Interested in all parts of the tech stack, but most experienced with building scalable systems in Python, Django, and Postgres.

			p I am a big film buff, expert papier-mâchér of masks and avid salsa dancer. 

			br

			h2 Education

			p 2011-2015
			p B.A. of Computer Science and Studio Art, with a minor in Mathematics at Hunter College City University of CUNY

			a.button(href="public/resume.pdf" download="resume_Gabriela_Voll.pdf") Download Resume


	.intro-container.my-experience.last
		.intro-inner
			.w35
				h2 Experience
				p I'm the sort of developer that loves to work with new technologies. Here are some of the great companies and projects that I have worked on.
				p For more details, head over to Linkedin.
				a.button(href="https://www.linkedin.com/in/gabrielavoll/") View my Linkedin

			.w60.experience-wrapper
				.time Present
				.experience
					span.circle
					span.company-icon.revel
					h3 Revel Transit Inc
					h4 Software Engineer III
						br
						a(href="https://gorevel.com/") gorevel.com
					h4 2020 - Present
						br
						| NYC, New York
				.time.padded Past
				.experience
					span.circle
					span.company-icon.verticalsystemsanalysis
					h3 Veritical Systems Analysis
					h4 Software Consultant
						br
						a(href="https://www.vsaconsulting.com/") vsaconsulting.com
					h4 2018 - 2020
						br
						| NYC, New York
				.experience
					span.circle
					span.company-icon.bookofthemonth
					h3 Book of the Month
					h4 Full-stack Web Developer
						br
						a(href="https://www.bookofthemonth.com") bookofthemonth.com
					h4 2015 - 2018
						br
						| NYC, New York
				.experience
					span.circle
					span.company-icon.huntercollege
					h3 Hunter College
					h4 City University of CUNY
						br
						| Computer Science Tutor
					h4 January 2014 - December 2015
						br
						| NYC, New York
