.intro-container.intro
	.intro_logo
		a(href="/")
			image(src="public/logo.jpg")

	h1.mega Gabriela Voll
	h2 Full-Stack Web Developer and Visual Artist

.intro-container.dark.about-me
	.intro-inner

		h2 About Me

		p I am a native New Yorker, who studied Computer Science and Studio Art at Hunter College. I am a big indie comics fan, expert papier-mâchér of masks and a semi-fluent Spanish speaker, to the dismay of most of my family. Who knew Spanish was so much harder then C++.

		p: Currently I am working at a great company, 
			a(href="https://www.bookofthemonth.com") Book of the Month.

		p As a side project, I'm working on a Unity video game, that I have had jangling around in the back of my head for a while. It would be set in Dante's Inferno, and besides that the particulars are still stewing. I also maintain a web-app I made in the summer of 2014, which shows you events that are happening in the area ( mostly free and mostly art-related) on any given day, in the New York City Area.


		h2 Previous Jobs

		h3 November 2015 - Present
		h4 Full-stack Web Developer at Bookofthemonth.com, NYC, USA

		h3 June 2015 - October 2015
		h4 Full-stack Web Developer at Youvisit.com, NYC, USA

		h3 March 2015 - June 2015
		h4 Web Developer Inter at Blacklapel.com, NYC, USA

		h3 January 2014 - December 2015
		h4 Computer Science Tutor at Hunter College, NYC, USA

.intro-container.experience
	.intro-inner

		h2 My Experiences

