.intro-container.intro
	.intro_logo
		a(href="/")
			image(src="public/logo.jpg")

	h1.mega Gabriela Voll
	h2 Full-Stack Web Developer and Visual Artist

.intro-container.dark.about-me
	.intro-inner

		h2 About Me

		p I am a native New Yorker, who studied Computer Science and Studio Art at Hunter College. I am a big indie comics fan, expert papier-mâchér of masks and a semi-fluent Spanish speaker, to the dismay of most of my family. Who knew Spanish was so much harder then C++.

		p: Currently I am working at a great company, 
			a(href="https://www.bookofthemonth.com") Book of the Month.

		p As a side project, I'm working on a Unity video game, that I have had jangling around in the back of my head for a while. It would be set in Dante's Inferno, and besides that the particulars are still stewing. I also maintain a web-app I made in the summer of 2014, which shows you events that are happening in the area ( mostly free and mostly art-related) on any given day, in the New York City Area.


.intro-container.my-experience
	.intro-inner
		.w35
			h2 Work Experiences
			p I'm the sort of developer that loves to work with new technologies. Here are some of the great companies and projects that I have worked on.
			p For more details, head over to Linkedin.
			a.button(href="https://www.linkedin.com/in/gabrielavoll/") View my Linkedin

		.w60.experience-wrapper
			.time Present
			.experience
				span.circle
				span.company-icon.bookofthemonth
				h3 Book of the Month
				h4 Full-stack Web Developer
					br
					a(href="https://www.bookofthemonth.com") bookofthemonth.com
				h4.soft November 2015 - Present
					br
					| NYC, New York
			.time.padded Past
			.experience
				span.circle
				span.company-icon.youvisit
				h3 YouVisit
				h4 Full-stack Web Developer
					br
					a(href="https://www.youvisit.com") youvisit.com
				h4.soft June 2015 - October 2015
					br
					| NYC, New York
			.experience
				span.circle
				span.company-icon.blacklapel
				h3 Black Lapel
				h4 Web Developer Intern
					br
					a(href="https://www.blacklapel.com") blacklapel.com
				h4.soft March 2015 - June 2015
					br
					| NYC, New York
			.experience
				span.circle
				span.company-icon.huntercollege
				h3 Hunter College
				h4 City University of CUNY
					br
					| Computer Science Tutor
				h4.soft January 2014 - December 2015
					br
					| NYC, New York
