////////////////////////////////
////////////////////////////////
// COLORS
////////////////////////////////
//

//  #e1dce3;  // lightest purple
//
//  #a89eab;  // light purple
//
//  #847889; // medium purple
//
//  #625568 // medium dark purple
//
//  #5d4f64 // dark purple



body{
  font-family: "Maven Pro";
  text-align: center;
  padding:0;
  background: #ffffff;
  color: #000;
  margin: 0;
}

a { color: inherit; }

.w60, .w35 {display: inline-block; vertical-align: top;}
.w60 { width: 60%; }
.w35 { width: 35%; margin-right: 5%; }
.right { text-align: right; }
.center { text-align: center; }

.button {
  text-decoration: none;
  border: 3px solid #a89eab;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
}

.button:hover {
  background: #a89eab;
  color: #ffffff;
}


//////////////////////////////////////////
//  Nav
//////////////////////////////////////////


.nav-wrapper {
  position: relative;
  height: 60px;
  background: #ffffff;
}
.nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 3;
  top: 0;
}

.nav-inner {
  padding: 0;
  margin: 10px;
  display: inline-block;
  list-style-type: none;
}

.nav-inner li {
  list-style: none;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.nav-inner li a {
  color:inherit;
  cursor: pointer;
  text-decoration: none;
}


//////////////////////////////////////////
//  Intro
//////////////////////////////////////////


.intro-container {
  margin: 0;
  padding: 40px 0;
  position: relative;
  z-index: 2;
}

.intro-container:not(.dark){
  background: #ffffff;
  -webkit-box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
  -moz-box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
  box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
}

.intro-container.dark {
  z-index: 0;
  background: #a89eab;  // light purple
  color: #fff;
}

.intro-container h1.mega{
  margin: 0;
  font-size: 90px;
  line-height: 1em;
  padding: 0;
}

.intro-container h2{
  font-weight: 300;
  margin: 0;
}

.intro-inner {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
}

.intro-container.intro { padding-top: 0px;}

@media screen and (max-width: 550px){
  .intro h1 { font-size: 60px; }
  .intro h2 { font-size: 20px; }
}


//////////////////////////////////////////
//  Intro Logo
//////////////////////////////////////////


.intro_logo {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.intro_logo img { width: 100%; }


//////////////////////////////////////////
// About
//////////////////////////////////////////

.bom-logo{
  display: block;
  text-align: center;
}

.bom-logo img {
  display: inline-block;
  margin: 0 auto;
}

//////////////////////////////////////////
//  Experience
//////////////////////////////////////////


.experience-wrapper {
  max-width: 310px;
  display: block;
  margin: 0 0 0 auto;
}

.my-experience .w35 {
  position: absolute;
  max-width: 280px;
  margin-bottom: 40px;
}

.experience-wrapper .time{
  text-align: left;
  margin: 10px 0;
  text-transform: lowercase;
  font-weight: 900;
}
.experience-wrapper .time.padded { padding-left: 10px; }


.experience .circle {
  position: absolute;
  top: 20px;
  left: -13px;
  display: block;
  width: 15px;
  background: white;
  height: 15px;
  border: 3px solid #a89eab;
  border-radius: 50%;
}

.experience:hover .circle { background: #e1dce3; }

.experience .company-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 5px;
  border-radius: 5px;
}

.company-icon.bookofthemonth {
  background: #ffffff url('/public/bookofthemonth-icon.jpg');
  background-size: contain;
}

.company-icon.youvisit {
  background: #000000 url('/public/youvisit-icon.jpeg');
  background-size: contain;
}

.company-icon.blacklapel {
  background: #000000 url('/public/blacklapel-icon.jpeg');
  background-size: contain;
}

.company-icon.huntercollege {
  background: #51219b url('/public/hunter-icon.jpeg');
  background-size: contain;
}

.experience h3 { margin: 15px 0 10px 0; }
.experience h4 { margin: 10px 0 0 0; }

.experience {
  position: relative;
  display:inline-block;

  border-left: 4px solid #a89eab;
  padding-left: 83px;
  margin-left: 25px;
}

@media screen and (max-width: 500px){
  .my-experience .w35, .experience-wrapper {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
  }
}



//////////////////////////////////////////
//  Article Singular
//////////////////////////////////////////


.article {
  background: #e1dce3;  // lightest purple
  padding: 10px;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
  -moz-box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
  box-shadow: 0 15px 25px -2px rgba(36,36,36,0.6);
}

.article-title, .article-body {
  margin: 0 auto;
  max-width: 700px;
  background: #ffffff;
  text-align: left;
  margin-bottom: 10px;
  border-radius: 3px;
}

.article-title { padding: 5px 30px; }

.article-title h4, .article-list li h4 { text-align: right; }

.article-body { padding: 20px 30px; }

.terminal-text {
  background: #f6f8fa;
  list-style:none;
  font-family: monospace;
  padding: 16px;
  border-radius: 3px;
  text-align: left;
}


//////////////////////////////////////////
//  Footer
//////////////////////////////////////////


.intro-container.footer {
  background: #5d4f64;
  padding: 30px 0 5px 0;
  z-index: 0;
}

.footer p { margin-top: 10px; color: #e1dce3; }
.footer a { text-decoration: none; }

.footer a:hover { color: #ffffff; text-decoration: underline; }


//////////////////////////////////////////
//  Articles
//////////////////////////////////////////



.article-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  min-height: 600px;
}

.article-list li {
  background: #fff;
  padding: 5px 30px;
  border-radius: 5px;
  list-style: none;
  list-style-type: none;
  margin-bottom: 10px;
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

.article-list a {
  color: inherit;
  text-decoration: none;
  text-align: left;
}

.article-list li h5 {
  color: #847889; // medium purple
}

.article-list li h5:hover, .article li:hover h5 {
  color: #41294b;
  text-decoration: underline;
}

.article-list h1 { margin: 10px 0;}


//////////////////////////////////////////
//  Social Icons
//////////////////////////////////////////


.social-icons a {
  display:inline-block;
  margin-right: 10px; 
}

.social-icon{
  width: 50px;
  height: 50px;
  background-size:contain;
}

.social-icons

.social-icon.linkedin {
  background: url('/public/linkedin.png');
  background-size:contain;
}

.social-icon.linkedin:hover {
  background: url('/public/linkedin-white.png');
  background-size:contain;
}

.social-icon.github {
  background: url('/public/github.png');
  background-size:contain;
}

.social-icon.github:hover {
  background: url('/public/github-white.png');
  background-size:contain;
}