.footer
	.intro-inner
		.center
			.social-icons
				a(href="https://www.github.com/gato333")
					.social-icon.github
				a(href="https://www.linkedin.com/in/gabrielavoll/")
					.social-icon.linkedin
		p.center Gabriela Voll Full-stack Web Developer
			br
			a(href="mailto:gvoll333@gmail.com") gvoll333@gmail.com