.nav-wrapper
.nav
	ul.nav-inner
		li
			a(href="/articles") Blog
		li
			a(href="/code") Code
		li
			a(onclick="scrollToDiv('experience');") Experience
		li
			a(onclick="scrollToDiv('about');") About
		li
			a(onclick="scrollToDiv('footer');") Contact
