.nav-wrapper
	.nav
		ul.nav-inner
			li
				a(href="/code") Code
			li.less-important
				a(onclick="scrollToDiv('my-experience', 'h2', 'blinkingB');") Experience
			li
				a(onclick="scrollToDiv('about', 'h2', 'blinkingW');") About
			li
				a(href="/filmmaking/lilith") Films
			li
				a(href="/curitorial") Curitorial
			li.less-important
				a(onclick="scrollToDiv('footer', 'p', 'blinkingW');") Contact
