.nav
	ul.nav-inner
		li
			a(href="/articles") Blog
		li
			a.about-link About
		li
			a.experience-link Experience
		li
			a(href="/") Video Games
		li
			a(href="/") Doodles
		li
			a.contact-link Contact
