.nav
	ul.nav-inner
		li
			a(href="/articles") Blog
		li
			a.about-link(href="/") About
		li
			a.experience-link(href="/") Experience
		li
			a(href="/") Games
		li
			a(href="/") Code Doodles
		li
			a.contact-link(href="/") Contact
