.nav
	ul.nav-inner
		li
			a(href="/articles") Blog
		li
			a(onclick="scrollToDiv('about-me');") About Me
		li
			a(onclick="scrollToDiv('experience');") Experience
		li
			a(href="/") Games
		li
			a(href="/") Code Doodles
		li
			a(onclick="scrollToDiv('contact-me');") Contact
