.nav-wrapper
	.nav
		ul.nav-inner
			li
				a(onclick="scrollToDiv('intro', 'h2', 'blinkingW');")
					img.mini_logo(src="/public/logo_mini.png")
			li.less-important
				a(onclick="scrollToDiv('about', 'h2', 'blinkingW');") About
			li.less-important
				a(onclick="scrollToDiv('my-experience', 'h2', 'blinkingB');") Experience
			li
				a(href="/code") Code
			li
				a(href="/filmmaking/lilith") Films
			li
				a(href="/curatorial") Curatorial
			li.less-important
				a(onclick="scrollToDiv('footer', 'p', 'blinkingW');") Contact
