.nav-wrapper
.nav
	ul.nav-inner
		li
			a(href="/articles") Blog
		li
			a(onclick="scrollToDiv(725);") About Me
		li
			a(onclick="scrollToDiv(1090);") Experience
		li
			a(href="/") Games
		li
			a(href="/") Code Doodles
		li
			a(onclick="scrollToDiv('contact-me');") Contact
